<h1>Listing game_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_categories.each do |game_category| %>
  <tr>
    <td><%= game_category.name %></td>
    <td><%= game_category.description %></td>
    <td><%= link_to 'Show', game_category %></td>
    <td><%= link_to 'Edit', edit_game_category_path(game_category) %></td>
    <td><%= link_to 'Destroy', game_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game category', new_game_category_path %>
