<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

	
	<div class="field">
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	  </div>
	<div class="field">
	    <%= f.label :picture %><br />
	    <%= f.text_field :picture %>
	  </div>
	
	<div class="field">
	    <%= f.label :level %><br />
	    <%= f.select :level, [['  ', '  '],['beginner', 'beginner'],['intermediate', 'intermediate'], ['expert', 'expert']] %>
	 </div>
	
	
	<h1> Game Preference </h1>

	<p>
			<% for game_category in GameCategory.find(:all) %>
			<div>
				<%= check_box_tag "user[game_category_ids][]", game_category.id, @user.game_categories.include?(game_category) %>
				<%= game_category.name.capitalize %>
			</div>
			<% end %>
		</p>

<h1> Top Five Games </h1>
	<%= f.fields_for :top_five_game do |toplist| %>
	
		<div class="field">
		    <%= toplist.label :first_game %><br />
		    <%= toplist.text_field :first_game %>
		  </div>
		  <div class="field">
		    <%= toplist.label :second_game %><br />
		    <%= toplist.text_field :second_game %>
		  </div>
		  <div class="field">
		    <%= toplist.label :third_game %><br />
		    <%= toplist.text_field :third_game %>
		  </div>
		  <div class="field">
		    <%= toplist.label :fourth_game %><br />
		    <%= toplist.text_field :fourth_game %>
		  </div>
		  <div class="field">
		    <%= toplist.label :fifth_game %><br />
		    <%= toplist.text_field :fifth_game %>
		  </div>
	
	<% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

<div class="field">
    <%= f.label :top_five_game %><br />
    <%= f.collection_select :top_five_game, Game.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

