<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.picture, :width => "200", :height => "200" %>
<%= @user.name %></h1>
</p>

<p>
	<%= link_to "Edit Profile", edit_user_path(@user)%>
<p>
  <%= @user.email %>
</p>

<ul>
	<h1> My Top 5 Games </h1> 
	
	<li> <%= @user.top_five_game.first_game.name %> </li>
	<li> <%= @user.top_five_game.second_game.name %> </li>
	<li> <%= @user.top_five_game.third_game.name %> </li>
	<li> <%= @user.top_five_game.fourth_game.name %> </li>
	<li> <%= @user.top_five_game.fifth_game.name %> </li>
	
		
<ul>	

	<ul>
		<h1> My Game Preferences: </h1>
		<% @user.game_categories.each do |game| %>
			<li> <%= game.name.capitalize %></li>

		<% end %>		
	<ul>


<%= link_to 'Back', users_path %>

