<h1>Listing top_five_games</h1>

<table>
  <tr>
    <th>User</th>
    <th>First game</th>
    <th>Second game</th>
    <th>Third game</th>
    <th>Fourth game</th>
    <th>Fifth game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @top_five_games.each do |top_five_game| %>
  <tr>
    <td><%= top_five_game.user_id %></td>
    <td><%= top_five_game.first_game_id %></td>
    <td><%= top_five_game.second_game_id %></td>
    <td><%= top_five_game.third_game_id %></td>
    <td><%= top_five_game.fourth_game_id %></td>
    <td><%= top_five_game.fifth_game_id %></td>
    <td><%= link_to 'Show', top_five_game %></td>
    <td><%= link_to 'Edit', edit_top_five_game_path(top_five_game) %></td>
    <td><%= link_to 'Destroy', top_five_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Top five game', new_top_five_game_path %>
